body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    color: orange;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    /* margin-top: 150vh; */
}

.number {
    color: orange;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}